{{ ansible_managed | comment }}

{% set template = ca_templates_params[ca_templates['TLS-client']] %}

[ req ]
default_bits            = {{ template['default_bits'] }}
encrypt_key             = no
default_md              = {{ template['default_md'] }}
utf8                    = yes
string_mask             = utf8only
prompt                  = yes
distinguished_name      = client_dn
req_extensions          = client_reqext

[ client_dn ]
commonName              = "6. Common Name              (eg, full name)"
commonName_max          = 64

[ client_reqext ]
