---
- name:
  debug:
    msg: " {{ _ca_dirs['_ca_new_certs'].path }}/{{ _ca_cert_name }}"

- name: Get back cert in csr dir
  become: false
  synchronize:
    src: "{{ __ca_root_base_dir }}/{{ ca_new_certs_dir }}/{{ _ca_cert_name }}"
    dest: "{{ _ca_dirs['_ca_csr'].path }}" 
      # dest: "{{ _ca_dirs['_ca_certs'].path }}/{{ _ca_cert_name }}"
    use_ssh_args: true
    mode: push
  delegate_to: "{{ __ca_root_ca_name }}"

- name: move cert in certs dir
  command: mv "{{ _ca_dirs['_ca_csr'].path }}/{{ _ca_cert_name }}" "{{ _ca_dirs['_ca_certs'].path }}/{{ _ca_cert_name }}"
