---
- name: Check if intermediate certificate file exist
  stat:
    path: "{{ _ca_dirs['_ca_certs'].path }}/{{ _ca_cert_name }}"
  register: __ca_cert_file

- name: Create intermediate csr
  command:
    argv:
      - openssl
      - req
      - -config
      - "{{ _ca_dirs['_ca_cnf'].path }}/req-intermediate.cnf"
      - -new
      - -out
      - "{{ _ca_dirs['_ca_csr'].path }}/{{ _ca_csr_name }}"
  when: not __ca_cert_file.stat.exists

- name: test
  debug:
    msg: "{{ _ca_dirs['_ca_csr'].path }}/{{ _ca_csr_name }}"
  delegate_to: "{{ __ca_root_ca_name }}"

- name: test
  debug:
    msg: "{{ _ca_dirs['_ca_csr'].path }}"
  delegate_to: "{{ __ca_root_ca_name }}"

- name: Copy csr on root ca
  become: false
  ansible.posix.synchronize:
    src: "{{ _ca_dirs['_ca_csr'].path }}/{{ _ca_csr_name }}"
    dest: "{{ __ca_root_base_dir }}/{{ ca_csr_dir }}"
    use_ssh_args: true
    mode: pull
  delegate_to: "{{ __ca_root_ca_name }}"
