---
- name: List all the csr to sign
  find:
    path: "{{ _pki_transfert_d['_csr_d']['path'] }}"
    pattern: "*.{{ _ca_csr_ext }}"
  register: __csr_list
  delegate_to: localhost

- name: Set csr_list
  set_fact:
    csr_list: "{{ csr_list }} + [ '{{ item.path | basename }}']"
  with_items: "{{ __csr_list.files }}"

- name: Copy csrs to root ca
  copy:
    src: "{{ item.path }}"
    dest: "{{ _ca_dirs['_ca_csr'].path }}"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ __csr_list.files }}"

- name: Delete csrs in transfert_dir
  file:
    path: "{{ item.path }}"
    state: absent
  delegate_to: localhost
  with_items: "{{ __csr_list.files }}"

- name: Sign csrs
  command:
    argv:
      - openssl
      - ca
      - -batch
      - -passin
      - pass:test
      - -config
      - "{{ _ca_dirs['_ca_cnf'].path }}/ca-intermediate.cnf"
      - -in
      - "{{ _ca_dirs['_ca_csr'].path }}/{{ item }}"
      - -out
      - "{{ _ca_dirs['_ca_new_certs'].path }}/{{ item |splitext | first }}.{{ _ca_cert_ext }}"
  with_items: "{{ csr_list }}"
  when: (csr_list | length) > 0

- name: Copy csrs to signed_csr
  copy:
    src: "{{ _ca_dirs['_ca_csr'].path }}/{{ item }}"
    dest: "{{ _ca_dirs['_ca_signed_csr'].path }}"
    owner: root
    group: root
    mode: 0644
    remote_src: true
  with_items: "{{ csr_list }}"

- name: Delete csr
  file:
    path: "{{ _ca_dirs['_ca_csr'].path }}/{{ item }}"
    state: absent
  with_items: "{{ csr_list }}"

- name: Get certs on controller node
  fetch:
    src: "{{ _ca_dirs['_ca_new_certs'].path }}/{{ item | splitext | first }}.{{ _ca_cert_ext }}"
    dest: "{{ _pki_transfert_d['_crt_d']['path'] }}/"
    flat: true
  with_items: "{{ csr_list }}"
