---
- name: Check if root certificate file exist
  stat:
    path: "{{ _ca_dirs['_ca_certs'].path }}/{{ _ca_cert_name }}"
  register: __ca_cert_file

- name: Create root certificate
  command:
    argv:
      - openssl
      - req
      - -config
      - "{{ _ca_dirs['_ca_cnf'].path }}/ca-self.cnf"
      - -new
      - -x509
      - -days
      - "{{ ca_root_cert_info['duration'] }}"
      - -out
      - "{{ _ca_dirs['_ca_certs'].path }}/{{ _ca_cert_name }}"
  when: not __ca_cert_file.stat.exists
